@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//*Variables*/
$azul: #1992D4;
$amarillo: #F0B429;
$gris:#E2E8F0;
$blanco: #FFFFFF;
$negro: #000000;
$gris-letra:#8C8C8C;

//*Configuracion general*/
*{
    font-family: roboto;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}


//*Configuracion del SVG*/
    //*Barra lateral*/
header{
        svg{
            width: 48px;
            height: 48px;
            fill: $blanco;
        }
}

aside{
    svg{
        width: 24px;
        height: 24px;
        fill: $blanco;
    }
}

    //*Contenido*/
main{
    svg{
        width: 24px;
        height: 24px;
        fill: $negro;
    }
}

/*-----------------------------*/
    //*general*/

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    height: 100vh;

    header{
        background-color: $azul;
        height: 100vh;
    }

    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        #top-section{
            background-color: $blanco;
        }

        #bottom-section{
            background-color: $gris;

        }
    }
}