@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//*Variables*/
$azul: #1992D4;
$amarillo: #F0B429;
$gris:#E2E8F0;
$blanco: #FFFFFF;
$negro: #000000;
$gris-letra:#8C8C8C;

//*Configuracion general*/
*{
    font-family: roboto;
    font-size: 16px;
    margin: 0px;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

//*Configuracion del SVG*/
    //*Barra lateral*/
header{
    section{
        svg{
            width: 48px;
            height: 48px;
            fill: $blanco;
        }
    }
}

aside{
    svg{
        width: 24px;
        height: 24px;
        fill: $blanco;
    }
}

    //*Contenido*/
main{
    svg{
        width: 24px;
        height: 24px;
        fill: $negro;
    }
}

/*-----------------------------

//*Barra lateral*/
header{
    background-color: $azul;
    width: 100%;
    height: 100vh;
    padding-top: 20px;


    section{
        padding-bottom: 40px;

        display: grid;
        grid-template-columns: 48px 1fr;
        align-items: center;
        gap: 10px;

        padding-left: 30px;

        h1{
            color: $blanco;
            font-size: 36px;
        }
    }


    ul{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        list-style: none;

        li{
            display: grid;
            grid-template-columns: 24px 1fr;
            gap: 10;
            align-items: center;
            
            a{
                color: $blanco;
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;

                padding-left: 20px;
            }
        }

    }

    #menu-principal{
        padding-bottom: 40px;
    }

}


//*Seccion superior*/

#top-section{

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:10px ;
    row-gap: 15px;
    padding: 20px;

    #busqueda{
        display: grid;
        grid-template-columns: 24px 1fr;
        align-items: center;
        gap: 15px;

        input[type="text"]{
            padding: 0px;
            height: 30px;
            background-color: $gris;
            border-radius: 25px;
            border-style: none;
        }
    }

    #perfil-top{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;

        svg{
            justify-self:end
        }

        #img-pequeña-perfil{
            width: 48px;
            height: 48px;
            background-color: $gris;
            border-radius: 25px;
            justify-self:end;
            margin-right: 10px;
        }
        #nombre-perfil{
            font-size: 18px;
            font-weight: bold;
            justify-self:end
        }
    }

    #saludo-perfil{
        display: grid;
        grid-template-columns: 70px 1fr;
        
        gap: 15px;


        #img-grande-perfil{
            width: 70px;
            height: 70px;
            background-color: $gris;
            border-radius: 75px;
        }

        #saludo{
            p{
                font-size: 12px;
                font-weight: bold;
            }

            #perfil-nick{
                font-size: 24px;
                margin-top: 5px;
            }
        }
    }

    #interaciones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: end;

       input{
        width: 110px;
        height: 35px;
        font-size: 16px;
        color: $blanco;
        background-color: $azul;
        border-style: none;
        border-radius: 50px;
       }
    }
}

#bottom-section{
    background-color: $gris;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: span 1;
    gap: 15px;
    padding: 20px;
    height: 78.5vh;

    section{
        h2{
            font-size: 24px;
            margin-bottom: 10px;
        }
    }


    #contenedor-proyectos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;
        row-gap: 30px;
        

        article{
            display: grid;
            grid-template-columns: 8px 1fr;
            border-radius: 10px;
            overflow: hidden;
            
            .linea{
                background-color: $amarillo;
            }
            .contenido-article{
                background-color: $blanco;
                padding: 25px;

                display: grid;
                grid-template-columns: 1fr;

                h3{
                    margin-bottom: 10px;
                }

                p{
                    color: $gris-letra;
                }

                .iconos{
                    margin-top: 25px;
                    justify-self: flex-end;
                    
                    svg{
                        margin-left: 10px;
                    }
                }
            }


            h3{
                font-size: 18px;
            }

            p{
                font-size: 14px;
            }
        }
    }

    #contenedor-anuncios-tendencias{

        #cartas-anuncios{
            background-color: $blanco;
            border-radius: 10px;
            overflow: hidden;
            padding: 25px;

            article{
                border-bottom: 0.5px solid $gris-letra;
                padding-bottom: 15px;
                padding-top: 15px;

                h3{
                    font-size: 14px;
                }

                p{
                    font-size: 12px;
                    color: $gris-letra;
                }
            }
            
            article:first-child{
                padding-top: 0px;
            }

            article:last-child{
                border: none;
                padding-bottom: 0px;
            }
        }
    }

    #seccion-tendencias{
        background-color: $blanco;
        border-radius: 10px;
        overflow: hidden;
        padding: 25px;
        
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        
        article{
            display: grid;
            grid-template-columns: 50px 1fr;
            grid-template-rows: 1fr 1fr;
            column-gap: 10px;
            align-items: center;

            .foto-perfil-tendencia{
                grid-column: 1/2;
                grid-row: 1/3;
                background-color: $gris;
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }

            h3{
                grid-column: 2/3;
                grid-row: 1/2;

                a{
                    color: $negro;
                    text-decoration: none;
                }
            }

            p{
                color: $gris-letra;
                font-size: 14px;
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
    }
}
