@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: roboto;
  font-size: 16px;
  margin: 0px;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

header section svg {
  width: 48px;
  height: 48px;
  fill: #FFFFFF;
}

aside svg {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

main svg {
  width: 24px;
  height: 24px;
  fill: #000000;
}

/*-----------------------------

//*Barra lateral*/
header {
  background-color: #1992D4;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}
header section {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
}
header section h1 {
  color: #FFFFFF;
  font-size: 36px;
}
header ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  list-style: none;
}
header ul li {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 10;
  align-items: center;
}
header ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}
header #menu-principal {
  padding-bottom: 40px;
}

#top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  row-gap: 15px;
  padding: 20px;
}
#top-section #busqueda {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 15px;
}
#top-section #busqueda input[type=text] {
  padding: 0px;
  height: 30px;
  background-color: #E2E8F0;
  border-radius: 25px;
  border-style: none;
}
#top-section #perfil-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}
#top-section #perfil-top svg {
  justify-self: end;
}
#top-section #perfil-top #img-pequeña-perfil {
  width: 48px;
  height: 48px;
  background-color: #E2E8F0;
  border-radius: 25px;
  justify-self: end;
  margin-right: 10px;
}
#top-section #perfil-top #nombre-perfil {
  font-size: 18px;
  font-weight: bold;
  justify-self: end;
}
#top-section #saludo-perfil {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 15px;
}
#top-section #saludo-perfil #img-grande-perfil {
  width: 70px;
  height: 70px;
  background-color: #E2E8F0;
  border-radius: 75px;
}
#top-section #saludo-perfil #saludo p {
  font-size: 12px;
  font-weight: bold;
}
#top-section #saludo-perfil #saludo #perfil-nick {
  font-size: 24px;
  margin-top: 5px;
}
#top-section #interaciones {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: end;
}
#top-section #interaciones input {
  width: 110px;
  height: 35px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #1992D4;
  border-style: none;
  border-radius: 50px;
}

#bottom-section {
  background-color: #E2E8F0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-row: span 1;
  gap: 15px;
  padding: 20px;
  height: 78.5vh;
}
#bottom-section section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
#bottom-section #contenedor-proyectos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  row-gap: 30px;
}
#bottom-section #contenedor-proyectos article {
  display: grid;
  grid-template-columns: 8px 1fr;
  border-radius: 10px;
  overflow: hidden;
}
#bottom-section #contenedor-proyectos article .linea {
  background-color: #F0B429;
}
#bottom-section #contenedor-proyectos article .contenido-article {
  background-color: #FFFFFF;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr;
}
#bottom-section #contenedor-proyectos article .contenido-article h3 {
  margin-bottom: 10px;
}
#bottom-section #contenedor-proyectos article .contenido-article p {
  color: #8C8C8C;
}
#bottom-section #contenedor-proyectos article .contenido-article .iconos {
  margin-top: 25px;
  justify-self: flex-end;
}
#bottom-section #contenedor-proyectos article .contenido-article .iconos svg {
  margin-left: 10px;
}
#bottom-section #contenedor-proyectos article h3 {
  font-size: 18px;
}
#bottom-section #contenedor-proyectos article p {
  font-size: 14px;
}
#bottom-section #contenedor-anuncios-tendencias #cartas-anuncios {
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
}
#bottom-section #contenedor-anuncios-tendencias #cartas-anuncios article {
  border-bottom: 0.5px solid #8C8C8C;
  padding-bottom: 15px;
  padding-top: 15px;
}
#bottom-section #contenedor-anuncios-tendencias #cartas-anuncios article h3 {
  font-size: 14px;
}
#bottom-section #contenedor-anuncios-tendencias #cartas-anuncios article p {
  font-size: 12px;
  color: #8C8C8C;
}
#bottom-section #contenedor-anuncios-tendencias #cartas-anuncios article:first-child {
  padding-top: 0px;
}
#bottom-section #contenedor-anuncios-tendencias #cartas-anuncios article:last-child {
  border: none;
  padding-bottom: 0px;
}/*# sourceMappingURL=style.css.map */